/* :root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
.about {
    text-align: center;
}
.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}
.about__paragraph {
    line-height: 1.7;
}
.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}
.about__icon {
    width: 40px;
}
.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}
.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}
.footer__copyright{
    font-weight: 300;
}




 */
